body {
  margin: 0;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
  background: rgb(170,122,255);
  background: linear-gradient(42deg, rgba(170,122,255,0.9416141456582633) 0%, rgba(131,147,255,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}